@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.body{
    margin: 0;
    padding: 0;
    background: rgb(148,134,129);
}   
.html{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.error{
    color: red;
}
.card{

    border-style: 5px solid black;
    border-radius: 30px;
    background: black;

    border: none;
    color: white;
   
}
.bg1{
    background-color: #060607;
}
.fbody{

    
    background: black;
       
}
.card:hover{
    background: #950740;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-light .navbar-toggler {
    margin-left: auto;
}
